@page
@model Disable2faModel
@{
    ViewData["Title"] = "Disable two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Bu eylem yalnızca 2FA'yı devre dışı bırakır.</strong>
    </p>
    <p>
        2FA'nın devre dışı bırakılması kimlik doğrulama uygulamalarında kullanılan anahtarları değiştirmez. Anahtarı değiştirmek istiyorsanız
        bir kimlik doğrulama uygulamasında kullandığınızda şunları yapmanız gerekir: <a asp-page="./ResetAuthenticator">kimlik doğrulama anahtarlarınızı sıfırlayın.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">2FA'yı devre dışı bırak</button>
    </form>
</div>
